:root {
  --color-mint: #e4f9f5;
  --color-teal-dark: #11999e;
  --color-teal-light: #30e3ca;
  --color-black: #000000;
  --color-white: #ffffff;
}

body {
  background-color: var(--color-mint);
  color: var(--color-teal-dark);
}
