:root {
  --color-mint: #e4f9f5;
  --color-teal: #11999e;
  --color-teal-light: #30e3ca;
  --color-teal-dark: #40514e;
  --color-black: #000000;
  --color-white: #ffffff;
}

body {
  background-color: var(--color-mint);
  color: var(--color-teal-dark);
  font-family: "Poppins", sans-serif;
}

.bg-body-tertiary {
  background-color: var(--color-mint) !important;
}
.github-link {
  text-decoration: underline;
  color: var(--color-teal-dark);
  font-weight: 300;
}
.github-link:hover {
  text-decoration: none;
}
.custom-footer {
  background-color: var(--color-teal-dark);
  padding: 10px 0;
}

.custom-footer .social-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.custom-footer .social-icon:hover {
  transform: scale(1.1);
}

.footer p {
  color: var(--color-mint);
  text-align: center;
  font-size: 0.8rem;
}

main {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main p {
  max-width: 600px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--color-teal-dark);
}
.login-links {
  margin-top: 3%;
}
.login-links ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.login-links a {
  background-color: var(--color-teal-dark);
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-mint);
  padding: 3px 20px;
  border-radius: 3px;
  display: inline-block;
  transition-duration: 0.2s;
  margin: 5px;
}

.login-links a:hover {
  background-color: var(--color-teal-light);
  color: var(--color-teal-dark);
  letter-spacing: 2px;
}
